{% extends "base.html" %}
{% block title %}Edit User{% endblock %}

{% block content %}
<h2>Edit User - {{ user.username }}</h2>

<form method="POST">
  {% csrf_token %}
  <input type="text" name="username" class="form-control mb-2" value="{{ user.username }}" required>
  <input type="email" name="email" class="form-control mb-2" value="{{ user.email }}" required>
  <input type="text" name="phone" class="form-control mb-2" value="{{ user.profile.phone }}">
  <input type="text" name="title" class="form-control mb-2" value="{{ user.profile.title }}">
  
  <select name="department_id" class="form-control mb-2" required>
    {% for d in departments %}
     <option value="{{ d.department_id }}" {% if d.department_id == user.department.department_id %}selected{% endif %}>
    {{ d.name }}
</option>

    {% endfor %}
  </select>

  <select name="role" class="form-control mb-2" required>
    <option value="employee" {% if user.role == "employee" %}selected{% endif %}>Employee</option>
    <option value="admin" {% if user.role == "admin" %}selected{% endif %}>Admin</option>
  </select>

  <div class="form-check mb-2">
    <input class="form-check-input" type="checkbox" name="is_active" {% if user.is_active %}checked{% endif %}>
    <label class="form-check-label">Active</label>
  </div>

  <button type="submit" class="btn btn-primary">Update</button>
  <a href="{% url 'master_user' %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
